[Unit]
Description=Gitlab user certificate authentication and provisionning agent
After=network-online.target
BindsTo=gitlab-runsvdir.service

[Service]
Type=simple

User=git
Group=git
UMask=007

ExecStart=/usr/bin/gitlab-rails runner 'load("/opt/gitlab/runner.rb")'

Restart=on-failure
 
[Install]
WantedBy=multi-user.target
